/* * {
  padding: 0;
  margin: 0;
} */

body {
  background-color: #ff5a77;
}

.box2 {
  width: 800px;
  height: 600px;
  background-color: #000099;
  border: 20px solid green;
}

.box {
  width: 800px;
  height: 600px;
  background-color: #000099;
  border: 20px solid green;
}